.body-class
{
    background-color: black;
}
.upper-one
{
padding-right: 0%;
}
.product img
{
    height:95%;
    width: 95%;
    margin-top: 1%;
    margin-left: 0%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    border: 2px solid white;
    background-color:orangered;
    border-radius:10%;
}

.product img:hover
{
    background-color: rgb(163, 68, 34);
}
.upper-portion h1
{
    font: size 1.5rem;;
    color:white;
}
.feature-box
{
    text-align: center;
    padding: 2%;
    margin-top: 3%;
}
h2
{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
p
{
    color: #8f8f8f;
}
.icon{
    color:orangered;
    margin-bottom: 1rem;
    margin-top: 10%;

}
.icon:hover
{
    color:rgb(163, 68, 34);

}
